@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: cursive;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(226, 202, 94);
}

/* () GENERAL () */

/* comic panels */
.panel{
    width: 85%;
    height: 750px;
    margin: 0px auto;
    margin-bottom: 30px;
    border-radius: 20px;
    border: 5px solid #000;
}

/* spans */
.joker {
    color: red;
    font-style: italic;
}
.crims {
    color: rgb(194, 34, 34);
    font-style: italic;
}

/* ^^^ GENERAL ^^^ */

.website-logo{
    position: absolute;
    right: 250px;
    border-radius: 25px;
    padding-top: 20px;
    background-color: #fff;
}


/* comic panels */
#comics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.chapter-header{
    font-size: 100px;
    font-family: 'Koulen', cursive;
    margin-top: 35px;
    text-align: right;
    margin-right: 200px;
}
.comic-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    right: -23%;
    width: 50%;
}


/* header, credit */
.real-header{
    margin-top: 100px;
}

.header-wrapper {
    position: sticky;
    top: 50px;
    background-color: rgb(207, 181, 64);
    border-radius: 20px;
    width: 300px;
    padding: 20px;
    border: 5px solid #000;
    margin-top: 25px;
    margin-left: 25px;
    font-size: 13px;
}
.credit {
    font-size: 12px;
}

/* chapters list/navigation */

.chapters-list{
    margin-left: 20px;
}

.chapters-list a{
    font-weight: 500;
    font-size: 17px;
    text-decoration: underline;
    color: rgb(194, 34, 34);
    font-style: italic;
}